<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="GALesMakerBundle based on petkopara/crud-generator-bundle over Symfony MakerBundle" />
{#    <title>{{app_title}}</title>#}

    <title>{% block title %}Maker Bundle for Symfony 4 / Symfony 5{% endblock %}</title>


    {% block stylesheets %}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i,800,800i'
          rel='stylesheet'>
    <link href="{{ asset('bundles/galesmaker/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/galesmaker/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href={{ asset("bundles/galesmaker/css/crud.css") }} rel="stylesheet" />
    {% endblock %}

    {% block app_icon %}
{#    TODO: AGREGAR ICONO DE LA PAGINA #}
{#    <link rel="icon" type="image/x-icon" href="{{ asset("images/logo-precios-santafesinos.png") }}" />#}
    {% endblock %}

{#    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->#}

</head>


<body>
<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                {% block app_logo_left %}
                <a class="navbar-brand" href="#">
{#                    <img class="img-fluid logo-left" src="{{ asset("images/imagen_no_existente.png") }}"#}
{#                         alt="logo-left">#}
                </a>
                {% endblock %}
            </div>
            <div class="navbar-header f-right">
                {% block app_logo_right %}
                <a class="navbar-brand" href="#">
{#                    <img class="img-fluid logo-right" src="{{ asset("images/imagen_no_existente.png") }}" #}
{#                         alt="logo-right">#}
                </a>
                {% endblock %}
            </div>

        </div>
    </nav>


    {#      Permite obtener el nombre de la ruta para marcar como activa la opcion de menu      #}
    {% set route_name = app.request.attributes.get('_route') %}
    {#    {{ dump(route_name) }}#}
    {#    Navbar del menu #}
    {% block app_menu %}
        <nav class="navbar navbar-expand-lg navbar-dark navbar-menu">
            <div class="container">
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_inicio') }}">Inicio</a>
                            </li>
                            <li class="nav-item">
{#                                <a class="nav-link" href="{{ path('solicitudempresa', {'filter_action': 'reset'}) }}">Solicitudes de Empresas</a>#}
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administraci&oacute;n
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                                    <a class="dropdown-item" href="{{ path('atributoconfiguracion', {'filter_action': 'reset'}) }}">Par&aacute;metros de aplicaci&oacute;n</a>#}
{#                                    <a class="dropdown-item" href="{{ path('user', {'filter_action': 'reset'}) }}">Usuarios de aplicaci&oacute;n</a>#}
                                </div>
                            </li>
                            {% endif %}
                        {% endif %}
                    </ul>

                    <ul class="navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_FULLY")  %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.email }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                                    <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Editar Perfil</a>#}
{#                                    <div class="dropdown-divider"></div>#}
                                    <a class="dropdown-item" href="">Salir</a>
                                </div>
                            </li>
                        {% else %}
{#                            <li class="nav-item "><a class="nav-link" href="{{ path('fos_user_registration_register') }}">Registrarme</a></li>#}
                            <li class="nav-item "><a class="nav-link" href="">Entrar</a></li>
                        {% endif %}
                    </ul>
                    <!-- Links -->

                </div>
                <!-- Collapsible content -->
            </div>
        </nav>

    {% endblock %}

</header>


<div class="container">
{% block body %}{% endblock %}
</div>

<footer class="mt-5 page-footer font-small">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12 text-center">
                <p class="mt-3">
                    {% block app_footer_text %}
{#                    TODO: AGREGAR LEYENDA DEL FOOTER#}
                    LEYENDA DEL FOTTER {{ '{% block app_footer_text %}' }} <br>
                    CON SEGUNDA LINEA<br>
                    {% endblock %}
                </p>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}

    <script src="{{ asset('bundles/galesmaker/js/jquery-3.5.1.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/galesmaker/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/galesmaker/js/bs-custom-file-input.min.js') }}"></script>
    <script src="{{ asset('bundles/galesmaker/js/petkopara-crud-generator.js') }}"></script>

    <script>

        $(function () {
            /* Mostrar los nombres de los archivos en los campos de adjuntos */
            bsCustomFileInput.init();
        })

    </script>

{% endblock %}

<!-- Footer -->
</body>
</html>
